*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    /* background-color: #F3E9DD; */
    background-image: url("../images/Фон.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: black;
}
.title_all{
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.header_color{
    z-index: 10;
    box-shadow: 0 0 20px 10px #dab88b54;
    width: 100%;
    position: fixed;
    height: 85px;
    display: flex;
}
.header_color_left{
    width: 50%;
    background-color: #DAB88B;
}
.header_color_right{
    width: 50%;
    background-color: #F3E9DD;
}
.container{
    margin: 0 auto;
    max-width: 1370px;
}
.header_main{
    z-index: 10;
    position: fixed;
    height: 85px;
    display: flex;
    align-items: center;
    background-color: #DAB88B;
}
.header_logo{
    width: 620px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #DAB88B;
}
.account{
    width: 40px;
    cursor: pointer;
}
.header_nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 17px;
    font-weight: 600;
    background-color: #F3E9DD;
}

.header_nav a{
    position: relative;
    text-transform: uppercase;
    transition: .2s ease-in-out;
}
.header_nav a:first-child{
    margin-left: 30px;
    color: #DB9B20;
}
.header_nav a::before{
    position: absolute;
    content: '';
    display: block;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: #DB9B20;
    transition: .15s ease;
}
.header_nav a:hover::before{
    width: 100%;
}
.header_nav a:hover{
    transform: translateY(-2px);
}
.header_bar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 85px;
    height: 100vh;
    background-color: #DAB88B;
}
.anchor{
    opacity: 0.4;
    position: fixed;
    bottom: 2%;
    transition: .09s ease-in-out transform;
    transition: .2s ease-in-out opacity;
}
.anchor:hover{
    opacity: 0.9;
}
.anchor:active{
    transform: scale(1.1);
}
.header_bar_main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 400px;
}
.header_bar_main a{
    transition: ease-in-out .06s;
}
.header_bar_main img{
    background-color: #DAB88B;
    width: 50px;
}
.header_bar_main a:hover{
    transform: scale(1.65) translateX(10px);
}
/* END HEADER */

/* MAIN */
.main_bg{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-left: 85px;
    padding-top: 85px;
    background-image: url("../images/main/ЗаднийФон.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main_bg .container{
    align-items: center;
    display: flex;   
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    color: white;
}
.main_img img{
    width: 600px;
}
.main_title{
    font-size: 27px;
    letter-spacing: 6px;
}
.main_text{
    font-family: 'Oswald', sans-serif;
    width: 720px;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 48px;
}
.btn{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    padding: 15px 25px;
    background-color: #F3E9DD;
    border: #DAB88B 2px solid;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.btn:hover{
    background-color: #DAB88B;
    border: #F3E9DD 2px solid;
    box-shadow: 0 0 10px 1px #DAB88B;
}
/* END MAIN */

/* ABOUT US */
.about_us_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 60px;
    background-color: white;
}
.about_us_main_text{
    font-size: 25px;
    width: 700px;
}
/* END ABOUT US */

/* SERVICES */
.services h3{
    font-weight: 600;
}
.services_main{
    height: 570px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.services_row{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 50px; */
}
.services_card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 20px;
    font-size: 25px;
    transition: .1s ease-in-out;
}
.services_card:hover{
    transform: scale(1.04);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.165);
}
.services_card_small{
    width: 400px;
    height: 260px;
}
.services_card_large{
    width: 920px;
    height: 260px;
}
.services #tyrkey{
    background-image: url('../images/services/tyrkey.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.services #thai{
    background-image: url('../images/services/thai.svg');
}
.services #sertificate{
    background-image: url('../images/services/sertificate.svg');
}
/* END SERVICES */
/* PANORAMA */
    .panorama{
        background-color: #fff;
    }
/* END PANORAMA */
/* REGISTRATION */
.registration_main{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #B7CADB;
    width: 100%;
}
.registration_main img{
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 400px;
    height: 518px;
}
.registration_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.registration_form form{
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.registration_title{
    font-size: 30px;
    margin-bottom: 25px;
}
.registration_text{
    font-size: 20px;
    margin-bottom: 25px;
}
.registration input{
    width: 450px;
    font-family: 'Oswald', sans-serif;
    outline: none;
    font-size: 24px;
    padding: 15px 25px;
    background-color: #F3E9DD;
    border: #DAB88B 2px solid;
    margin-bottom: 25px;
    transition: ease-in-out .2s;
}
.registration input:focus{
    box-shadow: 0 0 20px 1px #DAB88B;
}
.registration_submit{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.registration_submit p{
    font-size: 13px;
    width: 300px;
}
/* END REGISTRATION */

/* FOOTER */
footer{
    background-color: #DAB88B;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.footer_adress{
    margin-top: 10px;
    width: 570px;
    display: flex;
    justify-content: space-between;
}
.footer_title{
    font-size: 20px;
    font-weight: 500;
}
.telephone{
    text-decoration: underline;
}
.footer_right{
    opacity: 60%;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s opacity;
}
.footer_right:hover{
    opacity: 1;
}
.footer_down{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    font-size: 15px;
    font-weight: 300;
}
/* END FOOTER */